.tab{
    background-color: blanchedalmond;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
}
#h1{
    margin: auto;
    text-align: center;
}
.fel{
    float: right;
    box-shadow: 15px 15px 10px;
    background-color: antiquewhite;
    margin: auto;
}
